/* General setup */

:root {
    --inner: #006600;
    --outer: #e6ffe6;
    --back: #80ff80;
    --textwhite: #ffffff;
    --textblack: #000000;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--back);
    text-align: center;
}

/* Match result area */

.div-results {
    margin: 30px 20px 30px 20px;
    background-color: var(--outer);
    padding: 20px;
    border-radius: 10px;
}

/* Page header */

.div-header {
    text-align: center;
}

/* Simulation button */

.button-run {
    background-color: var(--inner);
    color: var(--textwhite);
    font-size: 15px;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}

.button-run:hover {
    background-color: var(--outer);
    color: var(--textblack);
}

.button-run:active {
    background-color: var(--inner);
    color: var(--textwhite);
}